body {
	font-family: georgia, serif;
	text-align: center;
	color: #fff;
	background: #748A9B url(bg2.gif) 0 0 repeat-y;
	margin: 0px;
	}
table{
	text-align:center;
	width:100%
	}
#tableau1{
		text-align: center;
		width:50%;
		margin-left:auto;
		margin-right: auto;
		}
th,td{
	padding:10px
}
p {
	text-align: center;
	margin-top: 0;
	}
h3 {
	font: bold 14px georgia, serif;
	margin-bottom: 0;
	}
#menu{
	text-align: end;
}
a:link { 
	font-weight: bold; 
	text-decoration: underline; 
	color: rgb(42, 76, 116);
	}
a:visited {
	font-weight: bold;
	text-decoration: underline;
	color: rgb(42, 76, 116);
	}
a:active, a:hover {
	text-decoration: underline;
	color: #fff;
	}

footer {
	text-align: right;
	clear: both;
	}
footer a {
	font-weight: normal;
	text-decoration: none;
	margin-right: 10px;
	border: solid 1px #859BAA;
	padding: 6px;
	}
footer a:hover {
	color: #7E868D;
	background-color: #fff;
	border-right: solid 1px #6F818D;
	border-bottom: solid 1px #6F818D;
	}

.design-selection {
	position: absolute;
	top: 15px;
	left: 0px;
	padding-left: 350px;
	margin: 0px auto;
	width: 730px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 380px;
	}
.sidebar h3 {
	display: inline;
	margin-right: 5px;
	}

.sidebar ul {
	margin: 0px;
	padding: 0px;
	}
.sidebar li {
	font-size: 10px;
	margin-right: 5px;
	list-style-type: none;
	display: inline;
	}
.sidebar li a {
	font-weight: normal;
	}

.design-selection h3 {
	font: bold 11px georgia;
	letter-spacing: -1px;
	}
.design-selection li {
	font: 11px/12px georgia;
	letter-spacing: -1px;
	color: #758C9B;
	}
.design-selection li a:link, .design-selection li a:visited {
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	}
.design-selection li a:hover {
	color: #D1E9FC;
	text-decoration: underline;
	}
